
*{margin:0;padding:0;box-sizing: border-box}
*::before{box-sizing: border-box}
*::after{box-sizing: border-box}
a,ul,ol,button{list-style: none;color:inherit;outline:none;}

body{
    background:rgb(56,56,56);
    font-size:14px;
}

.page{
    margin:0 auto;
    width:1100px;
    height:1100px;
    background:rgb(195,188,178);
    position: relative;
}


.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}

[v-cloak]{
    display: none;
}


.page .userNameBoundary{
    position: absolute;
    right:260px;
    top:30px;
}
/***aside buttons***/
aside.buttons{
    display: inline-flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width:193px;
    margin-top:60px;
}
aside.buttons button:hover{
    color:white;
}
aside.buttons button{
    margin:13px 10px;
    height:82px;
    width:82px;
    border:none;
    border-radius:50%;
    font-size:16px;
    background: rgb(62,63,68);
    color:rgb(195,188,178);
    cursor: pointer;

}




/***aside buttons***/

/***main resume***/
main.white{
    width:712px;
    min-height:980px;
    background:rgb(246,246,246);
    position: absolute;
    margin:60px 0;
    left:50%;
    top:0;
    transform: translateX(-50%)

}


main.white .resume{
    width:650px;
    height:950px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    overflow:hidden;
}

main.white .resume .info{
    width:648px;
    height:116px;
    overflow: hidden;
}

main.white .infoShow{
    display: flex;
    flex-direction: row;
    margin:10px 0;
}

main.white .infoShow .name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow:3;
}

main.white .infoShow .name h1{
    font-size:24px;
    margin-bottom:5px;
}
main.white .infoShow .infomation{
    flex-grow:4;
    margin-left:60px;
}

main.white .infoShow .infomation .iconAndContent{
    font-size:13px;
    display: flex;
    flex-direction: row;
    margin:2px 0;
}

main.white .infoShow .infomation .icon{
    margin-right:10px;
    margin-top:2px;

}

main.white .infoEdit{
    display: flex;
    justify-content: space-around;
}

main.white .infoEdit div{
    margin:4px 6px;
}

main.white .infoEdit .name div{
    display: flex;
    justify-content: space-between;
}

main.white .infoEdit .name div input{
    margin-top:5px;
}
main.white .infoEdit span{

    padding:2px 4px;
    background:rgb(195,188,178);
    border-radius: 4px;
    margin:5px 6px;
}

main.white .infoEdit input{
    border:1px solid rgb(195,188,178);
    border-radius: 3px;
    height:23px;
    padding:0 5px;
}

main.white .infoEdit .information{
    margin-top:6px;
}

main.white .statementShow p{

    width:100%;
    overflow: hidden;
}

main.white .statementEdit textarea{
    width:100%;
    height:42px;
    font-size:14px;
    line-height:17px;
    padding:3px;
    resize:none;
    border:1px solid rgb(195,188,178);
    word-wrap:break-word;
}

main.white .projectShow .projectName{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:6px;
}

main.white .projectShow .projectName p:nth-child(1){
    font-size:14px;
    font-weight: bold;
}

main.white .projectShow .projectName a{
    cursor: pointer;
}

main.white .projectShow .projectDescribe{
    width:100%;
    height:60px;
    overflow: hidden;
    margin-bottom: -10px;
}

main.white .projectEdit .name{
    display: flex;
    justify-content: space-between;
    margin-bottom:6px;
}

main.white .projectEdit .name span{
    padding:2px 4px;
    background:rgb(195,188,178);
    border-radius: 4px;
    margin:5px 6px 5px 0;
}

main.white .projects ul .addProject{
    text-align: center;
    margin-top:-5px;
}

main.white .projects ul .addProject .icon{
    cursor: pointer;
}

main.white .projectEdit input{
    border:1px solid rgb(195,188,178);
    border-radius: 3px;
    height:23px;
    padding:0 5px;
    width:155px;
}
main.white .projectEdit textarea{
    width:100%;
    height:42px;
    font-size:14px;
    line-height:17px;
    padding:3px;
    resize:none;
    border:1px solid rgb(195,188,178);
    word-wrap:break-word;
    margin-bottom:5px;
}

main.white .skills ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

main.white .skillShow .skillName{
    display: flex;
    flex-direction: row;
    width:315px;
    justify-content: space-between;
}

main.white .skillShow .skillName .name{
    font-weight: bold;
}

main.white .skillShow .skillDescribe{
    display: block;
    width:315px;
    height:60px;
    margin-top: 6px;
    overflow:hidden;
}

main.white .skillShow{
    border:1px dashed #888;
    margin-bottom:10px;
}

main.white .skillEdit .name{
    display: flex;
    justify-content: space-between;
    width:315px;
}

main.white .skillEdit .name span{
    padding:2px 4px;
    background:rgb(195,188,178);
    border-radius: 4px;
    margin:5px 6px 5px 0;
}

main.white .skillEdit .name input{
    border:1px solid rgb(195,188,178);
    border-radius: 3px;
    height:23px;
    padding:0 5px;
    width:180px;
}

main.white .skillEdit textarea{
    width:315px;
    height:42px;
    font-size:14px;
    line-height:17px;
    padding:3px;
    resize:none;
    border:1px solid rgb(195,188,178);
    word-wrap:break-word;
    margin-bottom:10px;
    margin-top:6px;
}

main.white .skills .addSkill{
    text-align:center;
    margin-top:-10px;
}













/***组件 项目***/



/***组件 项目***/

/***组件 分割线***/

main.white .splitLine p{
    margin-bottom:6px;
    margin-top:18px;
    font-size: 13px;
}
main.white .splitLine .outLine{
    border-top:2px solid rgb(222,222,222);
    width:100%;
    position: relative;
    margin-bottom:18px;
}

main.white .splitLine .inLine{
    border-top:2px solid rgb(32,32,32);
    width:8%;
    position: absolute;
    bottom:0px;
    left:0;
    
}
/***组件 分割线***/

/***main resume***/


/***aside img***/

aside.img{
    position: absolute;
    right:0;
    top:10px;
}

aside.img img{
    width:190px;
    height:400px;
}

/***aside img***/
