
.logInBox{
    width:40%;
    height:310px;
    position: relative;
    background: white;
    position: relative;
    top:20%;
    left:50%;
    transform: translate(-50%,-50%);
}

.logInBox .icon{
    position: absolute;
    top:1px;
    right:1px;
}

.logInBox .title{
    font-size:20px;
    font-weight: bold;
    position: relative;
    top:32px;
    left:45px;
}

.logInBox .pointOut{
    position: relative;
    top:34px;
    left:45px;
    font-size:13px;
    color:red;
}

.logInBox .pointOut .link{
    color:#576b95;
    text-decoration: none;
}

.logInBox form{
    display: flex;
    flex-direction: column;
    width:80%;
    position: absolute;
    top:55%;
    left:50%;
    transform: translate(-50%,-50%);
}
.logInBox form .userName{
    position: relative;
}
.logInBox form .userName .icon{
    position: absolute;
    top:10px;
    left:15px;
}

.logInBox form .userPassWord{
    position: relative;
}
.logInBox form .userPassWord .icon{
    position: absolute;
    top:10px;
    left:15px;
}
.logInBox form input{
    padding:5px 40px;
    width:100%;
    border:1px solid rgb(195,188,178);
}
.logInBox form .logInContent{
    widows: 100%;
    height:36px;
    margin-bottom: 20px;
}
.logInBox form .loginBtn{
    background:rgba(195,188,178,0.5);
    border:none;
    cursor: pointer;
}
.logInBox form .loginBtn:hover
{
    border:1px solid rgba(195,188,178);
}

.logInBox .goToSignIn{
    position: absolute;
    width:100%;
    bottom:30px;
    left:330px;
    color:#576b95;

}
