
.signInBox{
    width:40%;
    height:310px;
    position: relative;
    background: white;
    position: relative;
    top:30%;
    left:50%;
    transform: translate(-50%,-50%);
}

.signInBox .icon{
    position: absolute;
    top:1px;
    right:1px;
}

.signInBox .title{
    font-size:20px;
    font-weight: bold;
    position: relative;
    top:32px;
    left:45px;
}

.signInBox .pointOut{
    position: relative;
    top:34px;
    left:45px;
    font-size:13px;
    color:red;
}

.signInBox .pointOut .link{
    color:#576b95;
    text-decoration: none;
}

.signInBox form{
    display: flex;
    flex-direction: column;
    width:80%;
    position: absolute;
    top:55%;
    left:50%;
    transform: translate(-50%,-50%);
}
.signInBox form .userName{
    position: relative;
}
.signInBox form .userName .icon{
    position: absolute;
    top:10px;
    left:15px;
}

.signInBox form .userPassWord{
    position: relative;
}
.signInBox form .userPassWord .icon{
    position: absolute;
    top:10px;
    left:15px;
}
.signInBox form input{
    padding:5px 40px;
    width:100%;
    border:1px solid rgb(195,188,178);
}
.signInBox form .signInContent{
    widows: 100%;
    height:36px;
    margin-bottom: 20px;
}
.signInBox form .signInBtn{
    background:rgba(195,188,178,0.5);
    border:none;
    cursor: pointer;
}
.signInBox form .signInBtn:hover
{
    border:1px solid rgba(195,188,178);
}

.signInBox .goToLogin{
    position: absolute;
    width:100%;
    bottom:30px;
    left:330px;
    color:#576b95;

}